@model RentalsAndProperties.Web.ViewModels.Property.CreatePropertyViewModel

@{
    ViewData["Title"] = "Add Property";
}

<div class="form-page">
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    <form asp-action="Create" asp-controller="Property"
          method="post" enctype="multipart/form-data">

        @Html.AntiForgeryToken()

        
        @await Html.PartialAsync("_propertyFormFields", Model)

        <h3>Property Images</h3>

        <div class="form-group">
            @Html.LabelFor(m => m.Images)
            <input type="file" name="Images" multiple class="form-control" />
            @Html.ValidationMessageFor(m => m.Images, "", new { @class = "text-danger" })
        </div>

        <br />
        <button type="submit" class="btn btn-primary">
            Submit
        </button>

    </form>
</div>
